html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: Verdana, Arial, sans-serif;
	background: #45484d;
}
.player {
	position: absolute;
	width: 10px;
	height: 10px;
	background: #ff0000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
