html{
	-webkit-animation: increaseTemperature 3s linear infinite;
	cursor: none;
}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: Verdana, Arial, sans-serif;
	background: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(.15, #f2f), color-stop(.3, #22f), color-stop(.45, #2ff), color-stop(.6, #2f2), color-stop(.75, #2f2), color-stop(.9, #ff2), color-stop(1, #f22));
	background-size: 20%;
	overflow: hidden;
}
.player {
	position: absolute;
}
.chat {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(255, 0, 0, 0.5);
	z-index: -1;
}
@-webkit-keyframes increaseTemperature {
	from { -webkit-filter: hue-rotate(0deg);}
	to { -webkit-filter: hue-rotate(360deg);}
}
