<!DOCTYPE html>
<html lang="en">

	<head> {% load staticfiles %}
		<link rel="stylesheet" href="{% static "the.css" %}" />
		<script src="{% static "jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "omnibus.js" %}"></script>
		<script src="{% static "the.js" %}"></script>
	</head>

	<body>
		<script>
			var cursorX;
			var cursorY;
			var coordinates = {x:"None",y:"None"}
			var cursoroffset = {x:"None",y:"None"}

			var game = {};

			function player(username, picture) {
			  this.username = username;
			  this.picture = picture;
			  this.html = $($('#player').html().format(username)).appendTo($('body'));
			}

			player.prototype.move = function(top, left) {
			  this.html.css({
			    top: top,
			    left: left
			  });
			};

			String.prototype.format = function() {
			  var args = arguments;
			  return this.replace(/{(\d+)}/g, function(match, number) {
			    return typeof args[number] != 'undefined' ? args[number] : match;
			  });
			};

			$(document).ready(function () {
				connect('{{ OMNIBUS_ENDPOINT }}','{{ OMNIBUS_AUTH_TOKEN }}');
				setupPointerLock();
			});
		</script>
		<template id="player">
			<div class="player">
				<img src="{% static "pepe.png" %}">
				<div class="caption">{0}</div>
			</div>
		</template>
		<template id="chatline">
			<div class="chatline">{0}</div>
		</template>
		<div class="chat">
			<div class="chatbox"></div>
			<input class="chatinput" placeholder="tab to type"></input>
		</div>
	</body>

</html>
