<!DOCTYPE html>
<html lang="en">

	<head>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static "the.css" %}" />
		<script src="{% static "jquery-1.11.1.min.js" %}"></script>
		<script src="{% static "omnibus.min.js" %}"></script>
	</head>

	<body>
		<script type="text/javascript">
		String.prototype.format = function() {
		  var args = arguments;
		  return this.replace(/{(\d+)}/g, function(match, number) {
		        return typeof args[number] != 'undefined'
		          ? args[number]
		          : match
		        ;
		  });
		};

		(function() {
			var players = {};
			var transport = WebSocket;
			var endpoint = '{{ OMNIBUS_ENDPOINT }}';
			var options = {authToken: '{{ OMNIBUS_AUTH_TOKEN }}'};
			var connection = new Omnibus(transport, endpoint, options);
			var channel = connection.openChannel('mousemoves');
			var id = '{{ request.session.id }}'

			connection
				.on(Omnibus.events.CONNECTION_CONNECTED, function(event) {
					console.log('Connection Created');
				})
				.on(Omnibus.events.CONNECTION_AUTHENTICATED, function(event) {
					console.log('Connection Authenticated');
				});

			channel
				.on(Omnibus.events.CHANNEL_SUBSCRIBED, function(event) {
					console.log('Channel Subscribed');
					channel.send('connect', id);
				})
				.on('move', function (event) {
					var player = players[event.data.sender];
					var playerid = event.data.payload.id

					if (player === undefined) {
						console.log('Player '+playerid+' Joined the Game')
						var template = $('#player').html().format(playerid);
						player = $(template).appendTo($('body'));
						players[event.data.sender] = player;
					}

					player.css({
						top: event.data.payload.top+'%',
						left: event.data.payload.left+'%'
					});
				})
				.on('disconnect', function (event) {
					var player = players[event.data.sender];
					if (player !== undefined) {
						console.log('Player Left the Game')
						player.remove();
						players[event.data.sender] = undefined;
						delete(players[event.data.sender]);
					}
				});

			$('body').mousemove(function(e) {
				channel.send('move', {top: e.pageY/$('body').height()*100, left: e.pageX/$('body').width()*100, 'id': id});
			});
		})();
		</script>
		<template id="player">
			<div class="player">
				<img src="{% static "pepe.png" %}">
				<div class="caption">{0}</div>
			</div>
		</template>
	</body>

</html>
